<footer class="bg-[#0a0a0a] text-white py-8 max-h-full">
    <div class="w-full mx-auto flex flex-col items-center text-center">
        <h3 class="font-semibold sm:text-xl max-sm:text-lg">DPUWeb</h3>
        <p class="mt-2 text-gray-400 max-sm:text-sm">DePaul Web Development Club</p>
        <p class="mt-1 text-gray-400 max-sm:text-sm">College of Computing and Digital Media</p>
    </div>
</footer>
