---
import Card from "./Leadership-Card.astro"
---

<div class="bg-white py-48 px-12 max-[426px]:px-8 max-[426px]:py-32 text-[#0a0a0a] m-auto flex" id="leadership">
    <div class="mx-auto flex flex-col text-center gap-y-8">
        <h2 class=" text-4xl font-semibold jetbrains">Leadership</h2>
        <p class="text-gray-600 text-lg">Meet the team behind DPUWeb</p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8 card-container">
            <Card name="Richard Lechko" role="President" initials="RL" basicInfo="IT student with a concentration in Web Dev" jobTitle="IT Intern @ Hendrickson" github="https://github.com/RichardLechko" linkedin="https://www.linkedin.com/in/richard-lechko/" />
            <Card name="Alex Zieba" role="Treasurer" initials="AZ" basicInfo="DePaul Grad. B.S. in CS" jobTitle="SWE @ iManage" linkedin="https://www.linkedin.com/in/alexzieba/" />
            <Card name="Craig Miller" role="Faculty Advisor" initials="CM" basicInfo="PhD in CS @ UoM" jobTitle="CS Professor @ DePaul" linkedin="https://www.linkedin.com/in/craig-miller-45a16a/" />
        </div>
    </div>
</div>